@import '../../../styles/settings.scss';

.modalDiv {
  &_img {
    display: flex;
    img {
      margin: 0 auto;
      height: 80vh;
    }
  }

}


.root {
  text-align: center;
  padding: 45px ;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $light;

  &_line {
    border-top: 1px solid $dark;
    padding: 15px;
  }


  span {
    font-size: 2.7em;
    color: $red;
    display:  inline-block;
    height: 25px;
  }

  h2 {
    font-weight: bold;
  }

  p {
    font-size: 1.5em;
  }

    &_content {
      width: 60%;
      padding-bottom: 45px;

      &_none {
        display: none;
      }

      &_imgContainer {
        padding-bottom: 45px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;

        img {
          width: 400px;
          cursor: pointer;
          padding: 15px;
          height: 600px;
          object-fit: cover;
          transition: all 0.3s;
        }

        &_instr {
          img {
            object-fit: contain;
            width: 300px;
            height: 300px;
          }
        }

        img:hover {
          opacity: 0.8;
        }
      }
    }
}

@media (max-width: 768px) {

  .modalDiv {
    img {
      width: 100%;
      padding: 35px 3px;
    }
  }
  
  .root {
    font-size: 0.7em;

    &_content {
      width: 100%;

      &_imgContainer {
        padding-bottom: 45px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        img {
          width: 250px;
          cursor: pointer;
          padding: 15px;
        }
      }
    }
  }
}